// import bootstrap vars
@import '../../node_modules/bootstrap/scss/_variables.scss';

// custom bootstrap goes here
$brand-info: #41577d;

// import the rest of bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.row {
  .col-md-4 {
    padding: 0px;
  }
}

.social-icon {
  width: 35px;
  height: 35px;
}

body ul {
  list-style: none;
}

body {
  background-color: #172214;
  background-image: url(/public/background.jpg);
  transition: background-image 1000ms ease-in 250ms;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
