@import '../../node_modules/bootstrap/scss/_variables.scss';
// custom bootstrap goes here
$brand-info: #41577d;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
.row {
  .col-md-4 {
    padding: 0px;
  }
}

.card {
  border: none;
  border-radius: 0;
  opacity: 0.6;
  color: white;
  height: 100%;
}

.social-icon {
  width: 35px;
  height: 35px;
}
