$theme-color = #41577d

.card
  border none
  border-radius 0
  opacity 0.7
  color white
  height 100%
  min-height 200px
  margin-bottom 0px !important

.card:hover
  background #eee !important
  color white !important
  opacity 0.8

.col-md-8
  padding 0px
